header {                /*setting the styling for the header using css grid */
  display: grid;
  grid-template-columns: 10% 45% 45%;           /* setting the template columns in the grid of percentages*/
  grid-template-areas:
    'logo . head'
    'logo . tag';
}
header img {
  grid-area: logo;            /* linking this to the element from the grid above */
}
header h1 {
  grid-area: head;          /* linking this to the element from the grid above */
}
header h2 {
  grid-area: tag;     /* linking this to the element from the grid above */
}

footer {                  /*setting the styling for the footer using css grid */
  display: grid;
  grid-template-columns: 30% 25% 45%;
  grid-template-areas:
  'logo links number'
  'logo links times';
  left:0;
  bottom: 0;
  width:100%;
  background: #000000;
}
.team-text2 {                 /*setting the styling for the section using css grid */
  /* display: grid; */
  grid-template-columns: 15% 75% 15%;
  grid-template-areas:
  '. team-text .';
  grid-area: team-text;
  width: 75%;
  margin-left: 10rem;
}
.left {
  grid-area: logo;
}
.middle {
  grid-area: links;
  color: white;
}
.right {
  grid-area: number;
  color: white;
}
.times {
  grid-area: times;
  color: white;
}

.meet-team {
  grid-area: team;
  width: 75%;
  margin-left: 10rem;
  margin-right: 5rem;
  padding-top: 6rem;
}
.practitioners {            /*setting the styling for the section using css grid */
  display: grid;
  grid-template-columns: 10% 20% 20% 20% 20% 10%;
  grid-template-areas: '. practitioners img2 img3 img4 .';
}
.practitioners {
  grid-area: practitioners;
}
.practitioners2 {
  grid-area: img2;
}
.practitioners3 {
  grid-area: img3;
}
.practitioners4 {
  grid-area: img4;
}
@media screen and (max-width: 1200px) {             /* using media query to make the site responsive by declaring different elements */
  body {
    width: 100vw;
  }
  header {
    width: auto;
  }
  footer {
    grid-area: footer;
    width: 100%;
    margin-bottom: 0;
  }
}
