aside {
  float: left;
  align-items: left;
  padding-left: 12rem;
  padding-bottom: 2rem;
  display: inline;
}

.services-image {
  align-items: center;
}
#team1, #team2, #team3, #team4 {
  width: 200px;
  border: solid 0.3rem #7ea4b3;
  align-content: center;
}
.about__services-2, .about__services-3, .about__services-4 {
  background-color: #7ea4b3;
  border-radius: 15px;
}
.about {
  padding-right: 7rem;
}
#services__image--4 {
  width: 230px;
  height: 370px;
}
.form {
  width: 600px;                                 /*setting the size of the form */
  height: 700px;
  text-align: center;                           /* centre aligning the text */
  border: 20px solid #7b7b7b;
  margin-left: 38rem;
  background-color: #7ea4b3;
  font-family: sans-serif;                       /* styling the text */
  font-weight: bold;
  font-size: 20pt;
  display: grid;                                /* using CSS Grid to style the input boxes to the right */
  grid-gap: 15px;                               /* setting a gap between the input boxes */
  color: black;
}
input[type=submit] {                    /* styling the submit button on the contact form */
  background-color: white;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
input[type=text], select, textarea {              /* styling the input text areas*/
  width: 75%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.facilities__1, .facilities__2, .facilities__3, .facilities__4 {
  font-family: Helvetica;
  font-size: 16pt;
  display: inline;
}
.facilities {
  display: inline;
}
.gallery {
  margin: 5px;
  align-items:
  width: 180px;
  margin-left: 7rem;
}
.gallery img {
  width: 100%;
  height: 200px;
}
.row {
  padding: 0 6px;
  display: inline;
  width: 25%;
}
.column3 {
  float: left;
  width: 20%;
  padding: 5px;
  padding-left: 4rem;
}
.column3-1 {
  float: left;
  width: 20%;
  padding: 1px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
#gallery-img {
  width: 280px;
  margin-left: 5rem;
}
