header {                  /*styling the header */
  width: 100%;
  height: 120px;
  box-shadow: 0 2px 4px black;
  background: #7ea4b3;
  color: #7ea4b3;
  padding: 0 25px;
  display: flex;
}
p {                   /*styling the paragraph tags */
  font-family: Helvetica;
  font-size: 16pt;
}
header * {
  display: inline;
  margin-top: 50px;
}
img {
  height: 105px;
  width: 150px;
  margin-top: 10px;
}

header li {
    margin: 20px;
    color: black;
}

header li a {             /*styling the nav links inside the header */
    color: #000080;
    text-decoration: none;
    font-size: 25px;
    font-family:  Helvetica;
    padding: 1px;
}

.banner {       /*styling the banner image */
  width: 75%;
  height: 250px;
  margin-left: 170px
}

body {                    /*styling the font family in the body and the background image of the website */
  font-family:  Helvetica;
  background-image: ("whitepaw.png");
}

.row {
  display: flex;
}
.rows {
  display: inline;
}
.column {
  flex: 20%;
  height: 150px;
}
header h1 {
  font-size: 30pt;
  font-family: Helvetica;
}
header h2 {
  font-size: 28pt;
  color: blue;
}
footer {                /*styling the footer */
  width: 100%;
  background: #7ea4b3;
  color: #7ea4b3;
  display: flex;
  position: relative;
}

footer * {
  display: flex;
  margin-top: 10px;
  font-size: 16px;
}

footer li {
    margin: 20px;
    color: black;
}

footer li a {                         /*styling the links in the footer */
    color: #000080;
    text-decoration: none;
    font-size: 20px;
    font-family:  Helvetica;
    padding: 1px;
    display: block;
}

.footer .col {
  width: 200px;
  float: left;
  padding: 0px 10px 10px 10px;
}

.footer .col h5 {
  font-family: Helvetica;
  font-size: 16px;
  color: #000080;
  margin: 0;
  padding: 0;
  line-height: 17px;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: #000080;
  font-size: 16px;
  font-family: Helvetica;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}

.footer .col ul li:hover {
  color: #000000;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col-locations ul li {              /*styling the individual locations column text in the footer */
  color: #000080;
  font-size: 16px;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 20px;
  float: right;
}

.footer .links ul li {
  cursor: pointer;
  color: #000000;
  font-family: Helvetica;
  font-size: 14px;
  margin: 0;
  padding: 0;
  display: block;
}
footer * {
  display: inline;
  margin-bottom: 50px;
}
@media screen and (max-width: 800px) {            /*using media queries to set sizes for different screen sizes */
  .header {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .column {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .contain {
    width: 500px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 500px) {            /*using media queries to set sizes for different screen sizes */
  .header {
    width: 50%;
  }
  .nav {
    width: 50%;
  }
  .column {
    width: 50%;
  }
  .footer .col {
    width: 50%;
  }
  .footer .col h5 {
    font-size: 12px;
  }
}

@media screen and (max-width: 1280px) {             /*using media queries to set sizes for different screen sizes */
  .header {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .column {
    width: 100%;
  }
  .footer .col {
    width: 100%;
  }
  .footer .col h5 {
    font-size: 16px;
  }
}
