header {
  background-image: url("compressedimages/header.jpeg");
  text-align: left;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  height: 450px;
}
header h1 {
  font-size: 32pt;
  font-weight: bold;
}
header #h12 {
  font-size: 30pt;
  color: #000080;
  font-weight: bold;
  padding-top: 3rem;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}
p {
  font-family: Helvetica;
  font-size: 16pt;
}
#teamh3 {
  padding-left: 6rem;
}
nav li {
  margin-bottom: 2.5em;
  margin-left: 9em;
  display: inline;
  float: left;
  color: white;
}

nav li > ul li {
  display: block;
}

nav li > ul li a {
  color: black;
  display: block;
  text-decoration: none;
}

nav li:hover > ul {
  position: absolute;
  display: block;
}

nav a {
  color: #1E2B33;
  text-decoration: none;
  font-family: Helvetica;
  font-size: 16pt;
}

nav a:hover {
  text-decoration: underline;
}

.logo {
  width: 300px;
  height: 300px;
}

.dropbutton {
  background-color: white;
  color: black;
  font-size: 16pt;
}

.subnav {
  position: relative;
  display: inline;
  float: left;
}

.subnav-content {
  display: none;
  position: absolute;
  background-color: white;
}

.subnav-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

.subnav-content a:hover {background-color: white;}
.subnav:hover .subnav-content {display: block;}
.subnav:hover .dropbutton {background-color: white;}

body {
  background-repeat: repeat-repeat-x;
}
h2 {
  text-align: center;
  font-family: Helvetica;
  font-size: 20px;
  background-color: #aec6cf;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  text-align: left;
  font-family: Helvetica;
  font-size: 20px;
  float: left;
  margin-left: 4rem;
  margin-top: 1.5rem;
}

.home-info {
  font-family: Helvetica;
  font-size: 18px;
  text-align: left;
  float: left;
  color: black;
  margin: 0;
  margin-left: 12rem;
}

/* section {
  font-family: Helvetica;
  font-size: 30px;
  color: #1C5391;
} */

.flex-container {
  display: block;
  float: right;
  vertical-align: left;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 8rem;
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.services {
  font-family: Helvetica;
  font-size: 18px;
  text-align: left;
  float: left;
  color: black;
  padding-left: 1.5rem;
  margin: 0;
  display: flex;
  margin-left: 12rem;
}

.text {
  float: left;
  font-size: 18px;
  font-family: Helvetica;
  padding-left: 12rem;
  color: black;
  text-align: left;
}

.works {
  float: left;
  font-size: 18px;
  font-family: Helvetica;
  padding-left: 0.5rem;
  color: black;
  text-align: left;
  margin-left: 12rem;
}

.works h3 {
  float: left;
  font-size: 20px;
  font-family: Helvetica;
  padding-left: 0;
  margin-left: 0;
  color: black;
  text-align: left;
}

h4 {
  font-family: Helvetica;
  font-size: 20px;
  float: left;
  margin-left: 12rem;
}

.gallery-text {
  font-family: Helvetica;
  font-size: 16px;
  display: inline;
  float: left;
  padding-left: 12rem;
}

.gallery-text h1 {
  float: center;
}

/* styling the gallery using flexbox */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 10px;
}

.column img {
  margin-top:
}

.about {
  font-family: Helvetica;
  font-size: 18px;
  float: left;
  text-align: left;
  padding-left: 10em;
  margin-left: 1rem;
}

.about h3 {
  text-align: left;
  font-weight: bold;
  padding-left: 0;
  margin-left: 0;
}
.footer {
  width: 100%;
  background: black;
  color: black;
  display: flex;
}

footer * {
  display: flex;
  margin-top: 5px;
  font-size: 16px;
}

footer li {
    margin: 20px;
    color: white;
}

footer li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family:  Helvetica;
    padding: 1px;
    display: inline;
    padding-left: 8rem;
}

.footer .col {
  width: 200px;
  float: left;
  padding-left: 3rem;
}

.footer .col h5 {
  font-family: Helvetica;
  font-size: 16px;
  color: #000080;
  margin: 0;
  padding: 0;
  line-height: 17px;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col ul li {
  color: #000080;
  font-size: 16px;
  font-family: Helvetica;
  padding: 10px 0px 10px 0px;
  cursor: pointer;
}

.footer .col ul li:hover {
  color: #000000;
}

.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer .col-locations ul li {
  color: #000080;
  font-size: 16px;
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  display: block;
  margin-left: 20px;
  float: right;
}

.footer .links ul li {
  cursor: pointer;
  color: #000000;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding-left: 3rem;
  display: inline-block;
  text-decoration: none;
}

footer * {
  display: inline;
  margin-bottom: 50px;
}

@media screen and (max-width: 800px) {
  .header {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .column {
    width: 100%;
  }
  .footer {
    width: 100%;
  }
  .contain {
    width: 500px;
    margin: 0 auto;
  }
  .logo {

  }
}

@media screen and (max-width: 500px) {
  .header {
    width: 100%;
  }
  .nav {
    width: 50%;
  }
  .column {
    width: 50%;
  }
  .footer .col {
    width: 50%;
  }
  .footer .col h5 {
    font-size: 12px;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    width: 100%;
  }
  .nav {
    width: 100%;
  }
  .column {
    width: 100%;
  }
  .footer .col {
    width: 100%;
  }
  .footer .col h5 {
    font-size: 16px;
  }
}

/* make the two columns for the image gallery stack on top of each other when screen size changed*/
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* making the layout with two columns instead of on top of each other to make responsive */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
